@import url('https://fonts.googleapis.com/css?family=Merriweather:700|Roboto');
@import url(https://fonts.googleapis.com/css?family=Over+the+Rainbow);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
    .header{
        background-color: green;
        color: #FF532E;
        font-family: 'Pacifico', serif;
        /* text-align: center; */
    }

    .logoImg{
    height: 100px;
    }

    .flex-container {
        display: flex;
        flex-wrap: nowrap;
    }
  
  
  .flex-container > div {
    flex: 0 50%;
    width: 100px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
  }
  .Wrapper{
      text-align: center;
      background-color: rgb(255 241 228);
  }


  .contentImg{
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
  }
  
  .flexProfGoals {
    display: flex;
    align-items: center;
   
  }
  
  .flexProfessionalGoal {
    flex: 0 33.33%;
    font-family: 'Merriweather', serif;
  }
  
  .flexWorkHistory {
    flex: 0 66.33%;
  }

  .roles{
    font-family: 'Merriweather', serif;
  }
  .History{
    text-align: left;
    padding: 20px;
    font-family: 'Pacifico', serif;
    font-size: 20px;
  }
  .content{
      max-width: 960px;
      margin: auto;
  }

  
  @media only screen and (min-width: 1000px){
    .maxHeight{
        max-height: 1000px;
    }
    @media print {
        .maxHeight { display: block; page-break-before: always; }
        }
}

.titleName {
    margin: auto;
    text-align: left;
    padding: 10px;
}

.titleLogo {
    text-align: right;
}

.pfont {
    font-size: "font-size: 20px"
}
